<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit User</title>
    </head>
    <body>
        <h1>Editing User</h1>

        <form action="/users/<%= @user.id %>" method="post">
            <input type="hidden" name="_method" value="patch">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <label><u>First Name:</u></label><input type="text" name="first_name" value="<%= @user.first_name %>"> <%= flash[:first_name_error] %><br><br>
            <label><u>Last Name:</u></label><input type="text" name="last_name" value="<%= @user.last_name %>"> <%= flash[:last_name_error] %><br><br>
            <label><u>Email:</u></label><input type="text" name="email" value="<%= @user.email %>"> <%= flash[:email_error] %><br><br>
            <input type="submit" value="Submit">
        </form>


        <br>
        <a href="/"><button>Back</button></a>

    </body>
</html>
